@font-face {
  font-family: 'icons';
  src:  url('/fonts/icons/icons.eot?24kygq');
  src:  url('/fonts/icons/icons.eot?24kygq#iefix') format('embedded-opentype'),
    url('/fonts/icons/icons.ttf?24kygq') format('truetype'),
    url('/fonts/icons/icons.woff?24kygq') format('woff'),
    url('/fonts/icons/icons.svg?24kygq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-logo:before {
  content: "\e903";
}
.icon-lines:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-coffee:before {
  content: "\e906";
}
.icon-yoga:before {
  content: "\e907";
}
.icon-physio:before {
  content: "\e908";
}
.icon-mountain:before {
  content: "\e909";
}
.icon-left:before {
  content: "\e90a";
}
.icon-up:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e90c";
}
.icon-down:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
