$color-orange: #F26522;
$color-white: #fafbff;
$color-grey: #373734;
$color-grey-light: #939598;

$color-dark-text: #6d6b71;
$color-input-border: #e7e7e7;

$header-height: 50px;

$min-width: 320px;
$max-width: 960px;

$bp-small: 380px;
$bp-medium: 600px;

$font: "proximanova";
