// ---------------------- link banner ---------------------- //

.link-banner{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    a{    
      display: block;
      padding: 5px 0;
      width: 100%;
      color: white;
      }
    &:hover{
      background-color: white;
      a{    color: black;  }
    }
  }