// ---------------------- welcome ---------------------- //

.welcome {

    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: $color-grey;
    z-index: 0;
    padding-top: 20vh;
    box-sizing: border-box;
    // overflow: hidden;

    .img-container{
      position: absolute;
      width: 100%; 
      height: 100%;
      top: 0; 
      left: 0;
      overflow: hidden;
    }

    .img-full-screen{
      z-index: -10;
      position: absolute; 
      left: 50%;
      -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
      margin: 0 auto; 
      min-height: 100%;
      -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
   
    .brand {
      max-width: $max-width;
      min-width: $min-width;
      margin: 0 auto;
      text-align: center;
      color: $color-white;
    }
  
    .icon-logo {
      display: block;
      font-size: 25vh;
      margin-bottom: 20px;
    }
  
    .tagline {
      text-transform: uppercase;
      letter-spacing: 4px;
    }

  }
    
  @media screen and (min-width: $bp-small) {
    .welcome {
      .icon-logo {
        font-size: 30vh;
      }
    }
  }
  
  @media screen and (min-width: $bp-medium) {
    .welcome {
      .icon-logo {
        font-size: 40vh;
      }
    }
  }
  
  @media screen and (max-height: 420px) {
    .welcome {
      padding-top: 80px;
  
      .icon-logo {
        font-size: 200px !important;
      }
    }
  }
  
  .social {
    max-width: $max-width;
    min-width: $min-width;
    margin: 16vh auto 0;
    text-align: center;
  
    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
  
      &:before, &:after {
        content: "";
        height: 2px;
        position: absolute;
        left: -70px;
        width: 80px;
        background-color: white;
        top: 18.5px;
      }
  
      &:after {
        left: initial;
        right: -70px;
      }
  
      li {
        float: left;
        border: 2px solid $color-white;
        border-radius: 38px;
        height: 38px;
        margin: 0 10px;
      }
  
      a {
        color: $color-white;
        font-size: 18px;
        padding: 10px;
        line-height: 38px;
  
        &:before {
          left: 1px;
          position: relative;
        }
      }
  
      .icon-instagram {
        font-size: 16px
      }
    }
  }